body {
    background-color: #542121;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
   }
h1 {
text-align: center;
font-size: 5em;
div {
    width: 100%;
}
}
p {
text-align: center;
}
#mtech {
padding-top: 75px;
/* border: 5px solid whitesmoke; */
background-color: #4c2d2d;
width: 100%;
height: 1100px;
text-align: center;
}
#mtech:hover{
background-color: #462222;
}
#rotate {
width: 450px;
height: 450px;
border-radius: 80em 80em 80em 80em;
border: 2px solid whitesmoke;
box-shadow: 10px 13px 15px 10px whitesmoke
}

/*MY ADDED CODE*/
/*             */

.nav-bar {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e1e1e;
    box-shadow: 0 10px 90px rgb(59, 23, 23);
}
.nav-links {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links > a {
    margin: 0 auto;
    padding: 3px 0;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #d07373;
}
.nav-links > a:hover {
    border-bottom: 2px solid #d07373;
}

#nav-img {
    height: 80px;
    width: 80px;
    margin: 0 5vw;
}
.nav-img-container {
  height: 100%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-image-left > img {
  width: 300px;
  height: 300px;
}
.title-image-right > img {
  width: 300px;
  height: 300px;
}

/*             */
/*             */

@-webkit-keyframes rotating /* Safari and Chrome */ {
from {
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
to {
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@keyframes rotating {
from {
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
to {
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}


#rotate:hover { -webkit-animation: rotating 4s linear infinite; -moz-animation: rotating 4s linear infinite; -ms-animation: rotating 4s linear infinite; -o-animation: rotating 4s linear infinite; animation: rotating 4s linear infinite; background-color: snow; box-shadow: 10px 13px 15px 10px #444;
}
